################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/src/TenXamarinD2/TenXamarinD2/TenXamarinD2/bin/Debug/netstandard2.0
